<div class="header" (click)="select($event.ctrlKey)">
    <xc-icon-button
        *ngIf="children.length"
        xc-icon-name="accordion"
        xc-icon-size="small"
        [class.expanded]="expanded"
        [color]="root ? 'normal' : 'invert'"
        (click)="toggle()"
    ></xc-icon-button>
    <label>{{name}}</label>
</div>
<div class="content" *ngIf="expanded">
    <xfm-mod-nav-xmomtreeitem
        *ngFor="let child of children"
        [xmomPath]="child"
        [selectedXmomPaths]="selectedXmomPaths"
        [expandedXmomPaths]="expandedXmomPaths"
        (stateChange)="change($event)"
    ></xfm-mod-nav-xmomtreeitem>
</div>