@if (choice.formulaArea) {
  <formula-input-area
    [formulaArea]="choice.formulaArea"
    [documentModel]="documentModel"
    questionmarkEditable="false"
    (triggerAction)="performAction($event)"
  ></formula-input-area>
}
<content-area
  [contentArea]="choice.contentArea"
  [documentModel]="documentModel"
  xc-content-area-direction="row"
  (triggerAction)="performAction($event)"
></content-area>
@if (choice.outputArea) {
  <variable-area-choice
    [variableArea]="choice.outputArea"
    [documentModel]="documentModel"
    xc-variable-area-kind="output-area"
    (triggerAction)="performAction($event)"
  ></variable-area-choice>
}