<div
    [mod-drop-area]="clipboardArea.items?.data"
    [mod-drop-area-allow-item]="allowItem"
    [mod-drop-area-can-drop]="canDrop"
    (mod-drop-area-dropped)="dropped($event)"
    class="drop-area zeta-scrollbar"
>
    <clipboard-item *ngFor="let item of clipboardArea.items"
        (triggerAction)="performAction($event)"
        [mod-draggable]="item"
        [item]="item"
        [xc-tooltip]="getTooltip(item)"
        xc-tooltip-position="left"
    >
    </clipboard-item>
</div>
<span xc-i18n *ngIf="clipboardArea.items.length === 0">hint</span>
