<div
  [mod-drop-area]="clipboardArea.items?.data"
  [mod-drop-area-allow-item]="allowItem"
  [mod-drop-area-can-drop]="canDrop"
  (mod-drop-area-dropped)="dropped($event)"
  class="drop-area zeta-scrollbar"
  >
  @for (item of clipboardArea.items; let i = $index; track i) {
    <clipboard-item
      (triggerAction)="performAction($event)"
      [mod-draggable]="item"
      [item]="item"
      [xc-tooltip]="getTooltip(item)"
      xc-tooltip-position="left"
      >
    </clipboard-item>
  }
</div>
@if (clipboardArea.items.length === 0) {
  <span xc-i18n class="hint">hint</span>
}
