@if (isBranching || isChoice || isParallelism) {
  <div tabindex="0">
    @for (con of content; track con.id) {
      <span class="lane"></span>
    }
    @if (!isParallelism) {
      <div class="input"></div>
    }
    @if (!isParallelism) {
      <div class="output"></div>
    }
  </div>
}
@if (isInvocation || isMapping || isQuery || isThrow) {
  <div tabindex="0">
    @if (!isQuery) {
      <div class="input">
        @for (input of inputs; track input.id) {
          <span class="var"></span>
        }
      </div>
    }
    <div class="label">
      @if (icon) {
        <xc-icon icon [xc-icon-name]="icon" xc-icon-style="modeller" xc-icon-size="large" />
      }
      <span>{{label}}</span>
    </div>
    @if (!isThrow) {
      <div class="output">
        @for (out of outputs; track out.id) {
          <span class="var"></span>
        }
      </div>
    }
  </div>
}
@if (isVariable) {
  <div tabindex="0">
    <div class="rim">{{isList ? 'n' : '1'}}</div>
    <div class="label">{{label}}</div>
  </div>
}
@if (isTemplate) {
  <div tabindex="0">
    <div class="row">0</div>
  </div>
}