<div class="row">
    <xc-form-input
        label="label"
        [value]="memberVariable.label"
        [readonly]="readonly"
        (blur)="labelBlur($event)"
        (keydown.enter)="labelBlur($event)"
        xc-form-validator-required
        xc-i18n
    ></xc-form-input>
    <div class="name">
        <xc-form-label xc-i18n>name</xc-form-label>
        <label>{{memberVariable.name}}</label>
    </div>
</div>
<div class="row">
    <div class="type">
        <xc-form-autocomplete
            #dataTypeAutocomplete
            label="data-type"
            placeholder="select"
            [(xc-form-autocomplete-option)]="dataTypeDataWrapper.value"
            [xc-form-autocomplete-options]="dataTypeDataWrapper.values"
            [readonly]="readonly"
            xc-form-autocomplete-fulltextsearch
            xc-form-field-compact
            xc-form-validator-required
            xc-form-field-suffix="clear"
            xc-i18n
        ></xc-form-autocomplete>
        <xc-button
            [disabled]="readonly"
            xc-tooltip="{{'toggle-multiplicity-tooltip' | xcI18n}}"
            (click)="isList = !isList"
        >{{multiplicity}}</xc-button>
        <xc-button
            [disabled]="primitive"
            (click)="openComplexDataType()"
            xc-i18n
        >open</xc-button>
    </div>
</div>

<type-documentation-area
    (triggerAction)="performAction($event)"
    [documentationArea]="memberVariable.documentationArea"
    [documentModel]="documentModel"
    [lines]="10"
></type-documentation-area>