<div id="xmom-list"
  class="zeta-scrollbar">
  @for (xmomItem of xmomItems; let i = $index; track i) {
    <xfm-mod-nav-xmomlistitem
      [mod-draggable]="xmomItem" mod-draggable-allowed-drag-type="insert"
      [xmom-item]="xmomItem"
      [show-fqn]="showFQN"
      class="item"
      (menuOpened)="openMenusSubject.next(openMenusSubject.value + 1)"
      (menuClosed)="openMenusSubject.next(openMenusSubject.value - 1)"
      >
    </xfm-mod-nav-xmomlistitem>
  }
</div>
@if (pending) {
  <div class="overlay">
    <xc-spinner></xc-spinner>
  </div>
}