<div class="title">
  @if (xmomIconName) {
    <xc-icon [xc-icon-name]="xmomIconName" xc-icon-style="modeller" xc-icon-size="small"></xc-icon>
  }
  @if (isServiceGroup) {
    <div class="service-group"></div>
    }    <!-- FIXME remove as soon as there is a Service Group icon -->
    <span class="label-wrapper">
      @if (isCodedService || isInstanceService) {
        <label class="container">{{parentContainer}}.</label>
      }
      <label class="name">{{xmomItem.label}}</label>
    </span>
    <xc-icon-button
      *xc-menu-service="showMenu; let menuService"
      [xc-menu-trigger]="menuService.component"
      (xc-menu-trigger)="menuService.set(menuItems, {withArrow: true, xNexttoTrigger: true, xOffset: -5})"
      xc-icon-name="misc-contextmenu"
      xc-icon-style="modeller"
      xc-icon-size="small"
      [class.readonly]="isReadonly"
      class="menu-button"
      color="color-black"
      (menuOpened)="menuOpened.emit(xmomItem)"
      (menuClosed)="menuClosed.emit(xmomItem)"
    ></xc-icon-button>
  </div>
  @if (isDuplicate) {
    <label class="subtitle warning" xc-i18n xc-tooltip="tooltip-duplicate-element"><xc-icon xc-icon-name="msgwarning"></xc-icon><span>{{xmomRTC}}</span></label>
  }
  @if (showFQN) {
    <label class="subtitle">{{xmomPath}}</label>
  }
