@if (flows?.length > 0) {
  <flow-canvas [flowDefinitions]="flows"
   />
}
<div class="outputs">
  @for (outputDataSource of outputDataSources; let i = $index; track i) {
    <variable-tree
      [tree-datasource]="outputDataSource"
      highlightMarkedNodes
      (createdAssignment)="addAssignment($event)"
      (selectionChange)="select($event)"
    ></variable-tree>
  }
</div>
<div class="assignments"></div>
<div class="inputs">
  @for (inputDataSource of inputDataSources; let i = $index; track i) {
    <variable-tree
      [tree-datasource]="inputDataSource"
      (createdAssignment)="addAssignment($event)"
      (selectionChange)="select($event)"
    ></variable-tree>
  }
</div>
@if (mapping.formulaArea && selectedNode) {
  <formula-area class="formula"
    [formulaArea]="mapping.formulaArea"
    [documentModel]="documentModel"
    [newFormulaExpression]="selectedNode.toXFL()"
    [expressionFilter]="selectedNode.toXFL()"
    (triggerAction)="performAction($event)"
   />
}