<flow-canvas *ngIf="flows?.length > 0"
    [flowDefinitions]="flows"
></flow-canvas>
<div class="outputs">
    <variable-tree *ngFor="let outputDataSource of outputDataSources"
        [tree-datasource]="outputDataSource"
        (createdAssignment)="addAssignment($event)"
        (selectionChange)="select($event)"
    ></variable-tree>
</div>
<div class="assignments"></div>
<div class="inputs">
    <variable-tree *ngFor="let inputDataSource of inputDataSources"
        [tree-datasource]="inputDataSource"
        highlightMarkedNodes="false"
        (createdAssignment)="addAssignment($event)"
        (selectionChange)="select($event)"
    ></variable-tree>
</div>
<formula-area class="formula" *ngIf="mapping.formulaArea && selectedNode"
    [formulaArea]="mapping.formulaArea"
    [documentModel]="documentModel"
    [newFormulaExpression]="selectedNode.toXFL()"
    [expressionFilter]="selectedNode.toXFL()"
    (triggerAction)="performAction($event)"
></formula-area>