<div *ngIf="!readonlyMode"
    (focusout)="blur($event.relatedTarget)">
    <template-row *ngFor="let row of rows; let i = index" #templateRow
        [row]="row"
        [lineNumber]="i"
        [documentModel]="documentModel"
        (split)="splitRows($event)"
        (merge)="mergeRows($event)"
        (switchRow)="switchRowFocus($event)"
        (triggerAction)="performAction($event)"
    ></template-row>
</div>

<non-draggable-text-area *ngIf="readonlyMode"
    [text]="readonlyContent"
></non-draggable-text-area>

<xc-icon-button
    *xc-menu-service="showMenu; let menuService"
    [xc-menu-trigger]="menuService.component"
    (xc-menu-trigger)="menuService.set(menuItems, {withArrow: true, xNexttoTrigger: true, xOffset: 8})"
    xc-icon-name="misc-contextmenu"
    xc-icon-style="modeller"
    xc-icon-size="small"
    class="menu-button"
    color="invert"
></xc-icon-button>