<div
  id="{{formula ? formula.id : ''}}"
  #formulaWrapper
  [mod-drop-area]="formula.variables?.data" [mod-drop-area-allow-item]="allowItem" mod-drop-area-direction="horizontal" (mod-drop-area-dropped)="dropped($event)"
  class="formula-wrapper"
  tabindex="0"
  >
  @for (part of formula.visibleParts; track part; let i = $index) {
    @if (showCaret && partWithCaret === part) {
      <span class="caret">|</span>
    }
    @if (proxyIndex === i) {
      <formula-proxy #externalChild
        [formula]="formula"
        (selectionChange)="finishProxy($event)"
      ></formula-proxy>
    }
    @if (part.isVariable()) {
      <variable
        [variable]="part.variable"
        [documentModel]="documentModel"
        [mod-draggable]="part.variable" mod-draggable-allowed-drag-type="copy"
        (click)="clickOnPart(part)"
        [hasMenu]="!variableMenuDisabled"
        (triggerAction)="performAction($event)"
      ></variable>
    }
    @if (part.isMember()) {
      <formula-part-member #editablePart #externalChild [formula-part]="part"
        (click)="clickOnPart(part)"
        (startedEditing)="startedEditingSubPart($event)" (acceptedEditing)="acceptedEditingSubPart($event)" (finishedEditing)="finishedEditingSubPart($event)"
        class="member"
      ></formula-part-member>
    }
    @if (part.isFunction()) {
      <formula-part-function [formula-part]="part"
        (click)="clickOnPart(part)"
      ></formula-part-function>
    }
    @if (part.isOperation()) {
      <formula-part-operation [formula-part]="part"
        (click)="clickOnPart(part)"
      ></formula-part-operation>
    }
    @if (part.isSpecial()) {
      <formula-part-special [formula-part]="part"
        (click)="clickOnPart(part)"
      ></formula-part-special>
    }
    @if (part.isLiteral()) {
      <formula-part-literal #editablePart [formula-part]="part"
        (click)="clickOnPart(part)"
        (startedEditing)="startedEditingSubPart($event)" (acceptedEditing)="acceptedEditingSubPart($event)" (finishedEditing)="finishedEditingSubPart($event)"
      ></formula-part-literal>
    }
  }
  @if (showCaret && !partWithCaret) {
    <span class="caret">|</span>
    }<!-- each part has a caret in front of it. This one is for the end of the formula -->
    <!-- for a proxy if there is no visible formula part -->
    @if (proxyIndex === formula.visibleParts.length) {
      <formula-proxy #externalChild
        [formula]="formula"
        (selectionChange)="finishProxy($event)"
      ></formula-proxy>
    }
  </div>