@if (retry.inputArea) {
  <variable-area-service [variableArea]="retry.inputArea"
    [documentModel]="documentModel"
    xc-variable-area-kind="input-area"
    (triggerAction)="performAction($event)"
   />
}
@if (retry.labelArea) {
  <label-area
    [labelArea]="retry.labelArea"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)"
    >
    <xc-icon icon xc-icon-name="tb-rollup" xc-icon-style="modeller" xc-icon-size="large" />
  </label-area>
}
@if (documentationArea) {
  <documentation-area [documentationArea]="documentationArea"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)"
   />
}