<label #number class="line-number">{{lineNumber}}</label>
<div class="row-drop-area"
  [mod-drop-area]="row.templateParts"
  [mod-drop-area-allow-item]="allowItem"
  [mod-drop-area-update-indicator]="updateIndicator"
  mod-drop-area-direction="horizontal"
  (mod-drop-area-dropped)="dropped($event)"
  >
  @for (part of row.templateParts; let i = $index; track i) {
    @if (isFormula(part)) {
      <template-part-formula #templatePart
        [part]="part"
        [documentModel]="documentModel"
        (switchFocus)="switchFocus($event)"
        (triggerAction)="performAction($event)"
      ></template-part-formula>
    }
    @if (!isFormula(part)) {
      <template-part-text #templatePart #textPart
        [part]="part"
        [documentModel]="documentModel"
        (newline)="newlineInPart($event)"
        (deletePart)="deletePart($event)"
        (switchFocus)="switchFocus($event)"
        (triggerAction)="performAction($event)"
      ></template-part-text>
    }
  }
</div>