<div class="area-wrapper" xc-i18n-context="datatype">
  <div class="datatype-header">
    <div class="type-info-area">
      <type-info-area
        xc-i18n-context="type-info-area"
        [typeInfoArea]="dataType.typeInfoArea"
        (triggerAction)="performModellingAction($event)"
        [documentModel]="document"
        [showConverterButton]="true"
        [showBaseTypeAutocomplete]="true"
        [showAbstractCheckbox]="true"
      ></type-info-area>
    </div>
    <div class="lib-area">
      <lib-area
        xc-i18n-context="lib-area"
        [libArea]="dataType.librariesArea"
        (triggerAction)="performModellingAction($event)"
        [documentModel]="document"
      ></lib-area>
      <java-shared-lib-area
        xc-i18n-context="java-shared-lib-area"
        [javaSharedLibArea]="dataType.javaSharedLibrariesArea"
        (triggerAction)="performModellingAction($event)"
        [documentModel]="document"
      ></java-shared-lib-area>
    </div>
  </div>

  <div class="datatype-body">
    <section class="members">
      <!-- Datatype Details -->
      <div class="detail-items">
        <details-item [detailsItem]="detailsItem"></details-item>
      </div>
      <!-- Inherited Variables -->
      @if (dataType.hasBaseType()) {
        <member-area
          xc-i18n-context="member-area"
          caption="Inherited Variables"
          [area]="dataType.inheritedVarsArea"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
          [allowAdd]="false"
          >
          <member-variable-area
            [memberVariableArea]="dataType.inheritedVarsArea"
            (triggerAction)="performModellingAction($event)"
            [documentModel]="document"
          ></member-variable-area>
        </member-area>
      }
      <!-- Member Variables -->
      <member-area
        xc-i18n-context="member-area"
        caption="Member Variables"
        [area]="dataType.memberVarsArea"
        (added)="addMemberVariable()"
        (triggerAction)="performModellingAction($event)"
        [documentModel]="document"
        >
        <member-variable-area
          [memberVariableArea]="dataType.memberVarsArea"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
        ></member-variable-area>
      </member-area>
      <!-- Inherited Services -->
      @if (dataType.hasBaseType()) {
        <member-area
          xc-i18n-context="member-area"
          caption="Inherited Services"
          [area]="dataType.inheritedMethodsArea"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
          [allowAdd]="false"
          >
          <service-area
            [serviceArea]="dataType.inheritedMethodsArea"
            (triggerAction)="performModellingAction($event)"
            [documentModel]="document"
          ></service-area>
        </member-area>
      }
      <!-- Overridden Services -->
      @if (dataType.hasBaseType()) {
        <member-area
          xc-i18n-context="member-area"
          caption="Overridden Services"
          [area]="dataType.overriddenMethodsArea"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
          [allowAdd]="false"
          >
          <service-area
            [serviceArea]="dataType.overriddenMethodsArea"
            (triggerAction)="performModellingAction($event)"
            [documentModel]="document"
          ></service-area>
        </member-area>
      }
      <!-- Member Services -->
      <member-area
        xc-i18n-context="member-area"
        caption="Member Services"
        [area]="dataType.memberMethodsArea"
        (added)="addMemberService()"
        (triggerAction)="performModellingAction($event)"
        [documentModel]="document"
        >
        <service-area
          [serviceArea]="dataType.memberMethodsArea"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
        ></service-area>
      </member-area>
    </section>

    <section class="details">
      @if (selectedDetailsItem) {
        <datatype-details
          xc-i18n-context="datatype-details"
          [dataType]="dataType"
          [detailsItem]="selectedDetailsItem"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
          [isStorable]="isStorable"
        ></datatype-details>
      }
      @if (selectedVariable) {
        <member-variable-details
          xc-i18n-context="member-variable-details"
          [memberVariable]="selectedVariable"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
          [dataTypeRTC]="dataType.$rtc"
          [isStorable]="isStorable"
        ></member-variable-details>
      }
      @if (selectedMethod) {
        <method-details
          xc-i18n-context="method-details"
          [method]="selectedMethod"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
        ></method-details>
      }
    </section>
  </div>

  <!-- enforce loading style sheet of drop-indicator-->
  <drop-indicator></drop-indicator>
</div>
