<div class="area-wrapper" xc-i18n-context="datatype">
  <div class="exceptiontype-header">
    <type-info-area
      xc-i18n-context="type-info-area"
      [typeInfoArea]="exceptionType.typeInfoArea"
      (triggerAction)="performModellingAction($event)"
      [documentModel]="document"
      [showConverterButton]="true"
      [showBaseTypeAutocomplete]="true"
      [showAbstractCheckbox]="true"
    ></type-info-area>
    <exception-messages-area
      xc-i18n-context="exception-messages-area"
      [exceptionMessagesArea]="exceptionType.exceptionMessageArea"
      (triggerAction)="performModellingAction($event)"
      [documentModel]="document"
    ></exception-messages-area>
  </div>

  <div class="exceptiontype-body">
    <section class="members">
      <!-- Datatype Details -->
      <div class="detail-items">
        <details-item [detailsItem]="detailsItem"></details-item>
      </div>
      <!-- Inherited Variables -->
      @if (exceptionType.hasBaseType()) {
        <member-area
          xc-i18n-context="member-area"
          caption="Inherited Variables"
          [area]="exceptionType.inheritedVarsArea"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
          [allowAdd]="false"
          >
          <member-variable-area
            [memberVariableArea]="exceptionType.inheritedVarsArea"
            (triggerAction)="performModellingAction($event)"
            [documentModel]="document"
          ></member-variable-area>
        </member-area>
      }
      <!-- Member Variables -->
      <member-area
        xc-i18n-context="member-area"
        caption="Member Variables"
        [area]="exceptionType.memberVarsArea"
        (added)="addMemberVariable()"
        (triggerAction)="performModellingAction($event)"
        [documentModel]="document"
        >
        <member-variable-area
          [memberVariableArea]="exceptionType.memberVarsArea"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
        ></member-variable-area>
      </member-area>
    </section>

    <section class="details">
      @if (selectedDetailsItem) {
        <exceptiontype-details
          xc-i18n-context="exceptiontype-details"
          [exceptionType]="exceptionType"
          [detailsItem]="selectedDetailsItem"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
        ></exceptiontype-details>
      }
      @if (selectedVariable) {
        <member-variable-details
          xc-i18n-context="member-variable-details"
          [memberVariable]="selectedVariable"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
        ></member-variable-details>
      }
    </section>
  </div>
</div>
