<div class="area-wrapper" xc-i18n-context="datatype">
  <div class="servicegroup-header">
    <div class="type-info-area">
      <type-info-area
        xc-i18n-context="type-info-area"
        [typeInfoArea]="serviceGroup.typeInfoArea"
        (triggerAction)="performModellingAction($event)"
        [documentModel]="document"
      ></type-info-area>
    </div>
    <div class="lib-area">
      <lib-area
        xc-i18n-context="lib-area"
        [libArea]="serviceGroup.librariesArea"
        (triggerAction)="performModellingAction($event)"
        [documentModel]="document"
      ></lib-area>
      <java-shared-lib-area
        xc-i18n-context="java-shared-lib-area"
        [javaSharedLibArea]="serviceGroup.javaSharedLibrariesArea"
        (triggerAction)="performModellingAction($event)"
        [documentModel]="document"
      ></java-shared-lib-area>
    </div>
  </div>

  <div class="servicegroup-body">
    <section class="members">
      <member-area
        xc-i18n-context="member-area"
        caption="Services"
        [area]="serviceGroup.methodsArea"
        (added)="addMethod()"
        (triggerAction)="performModellingAction($event)"
        [documentModel]="document"
        >
        <service-area
          [serviceArea]="serviceGroup.methodsArea"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
        ></service-area>
      </member-area>
    </section>
    @if (selectedMethod) {
      <section class="details">
        <method-details
          xc-i18n-context="method-details"
          [method]="selectedMethod"
          (triggerAction)="performModellingAction($event)"
          [documentModel]="document"
        ></method-details>
      </section>
    }
  </div>
</div>
