@if (throw.exceptionArea) {
  <variable-area-service [variableArea]="throw.exceptionArea"
    [documentModel]="documentModel"
    xc-variable-area-kind="input-area"
    (triggerAction)="performAction($event)"
   />
}
@if (throw.labelArea) {
  <label-area
    [labelArea]="throw.labelArea"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)">
    <xc-icon icon xc-icon-name="tb-exception" xc-icon-style="modeller" xc-icon-size="large" />
  </label-area>
}
@if (documentationArea) {
  <documentation-area [documentationArea]="documentationArea"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)"
   />
}