<!-- will always be only one exception-handling -->
@for (handling of exceptionHandlingArea?.exceptionHandlings; track handling) {
  <exception-handling [exceptionHandling]="handling"
    [documentModel]="documentModel"
    [inline]="inline"
    (triggerAction)="performAction($event)"
    class="handling"
   />
}

<!-- will always be only one compensation -->
@for (compensation of exceptionHandlingArea?.compensations; track compensation) {
  <compensation [compensation]="compensation"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)"
    class="handling"
   />
}

<div class="toggle-buttons">
  <xc-icon-button
    class="exception button" xc-icon-style="modeller" xc-icon-name="tb-exception" xc-icon-size="small"
    [color]="exceptionHandlingArea?.hasHandledExceptions() ? 'normal' : 'invert'"
    [class.empty]="!exceptionHandlingArea?.hasHandledExceptions()"
    (click)="toggleExceptionArea()"
    xc-i18n
    xc-tooltip="tooltip-open-close-exception-area"
  ></xc-icon-button>
  @if (inline) {
    <xc-icon-button
      class="compensation button" xc-icon-style="modeller" xc-icon-name="mini-compensation" xc-icon-size="small"
      [color]="exceptionHandlingArea?.hasCompensations() ? 'normal' : 'invert'"
      [class.empty]="!exceptionHandlingArea?.hasCompensations()"
      (click)="toggleCompensationArea()"
      xc-i18n
      xc-tooltip="tooltip-open-close-compensation-area"
    ></xc-icon-button>
  }
</div>