<xc-dialog-wrapper xc-i18n-context="pmod.error-dialog">
  <ng-container header><span xc-i18n>header</span></ng-container>
  <section content class="zeta-scrollbar">
    <div class="error-message">{{errorMessage}}</div>
    @if (stackTrace) {
      <xc-button (click)="showStackTrace = !showStackTrace" class="details-button" xc-i18n>button-show-hide-details</xc-button>
    }
    @if (showStackTrace && stackTrace) {
      <div class="stack-trace">{{stackTrace}}</div>
    }
  </section>
  <ng-container footer>
    <xc-button (click)="dismiss()" xc-i18n>button-ok</xc-button>
  </ng-container>
</xc-dialog-wrapper>