<!-- marked means that the node is white, unmarked nodes are yellow -->
<div #noderow
    class="row"
    [ngClass]="{'marked': (node.markedChange | async) || node.allChildrenMarked, 'show-mark': highlightMarks}"
    [mod-draggable]="node"
>
    <div class="drop-zone"
        mod-drop-area
        [mod-drop-area-allow-item]="allowItem"
        [mod-drop-area-can-drop]="canDrop"
        mod-drop-area-hide-indicator
        (mod-drop-area-dropped)="dropped($event)"
    >
        <label class="label">{{node.label}}</label>
        <label class="type">{{typeLabel}}</label>
    </div>
</div>
<div *ngIf="expanded" class="children">
    <variable-tree-node *ngFor="let childNode of node.children"
        [node]="childNode"
        (assignedVariable)="assignedVariable.emit($event)"
    ></variable-tree-node>
</div>