<variable-area-document
    [variableArea]="method.inputArea"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)"
    xc-variable-area-kind="input-area"
></variable-area-document>
<div class="service-label">
    <div>{{method.label}}</div>
    <div class="align-right">
        <xc-checkbox [(checked)]="isAbortable" label="is-abortable-label" [disabled]="readonly || isAbstractMethod" xc-i18n></xc-checkbox>
        <xc-button
            xc-i18n
            color="normal"
            (click)="useTemplateCall()"
            [disabled]="readonly || isAbstractMethod"
            xc-tooltip="use-generated-template-library-tooltip"
        >template-call-button</xc-button>
        <xc-definition-proxy *ngFor="let bundle of pluginBundles"
            [xc-base-definition]="bundle.definition"
            [xc-base-definition-data]="bundle.data"
            [xc-definition-observer]="pluginService"
        ></xc-definition-proxy>
    </div>
</div>
<coding
    [method]="method"
    [readonly]="readonly || isAbstractMethod"
    (implementationChange)="implementationChange($event)"
></coding>
<variable-area-document
    [variableArea]="method.throwsArea"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)"
    xc-variable-area-kind="throws-area"
></variable-area-document>
<variable-area-document
    [variableArea]="method.outputArea"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)"
    xc-variable-area-kind="output-area"
></variable-area-document>