<header>
  <xc-icon-button
    [disabled]="!hasContent"
    (click)="collapsed = !collapsed"
    [xc-icon-name]="collapsed ? 'arrowright' : 'arrowdown'"
    xc-icon-size="small"
  ></xc-icon-button>
  <h2 class="caption">{{caption | xcI18n}}</h2>
  @for (bundle of pluginBundles; let i = $index; track i) {
    <xc-definition-proxy
      [xc-base-definition]="bundle.definition"
      [xc-base-definition-data]="bundle.data"
      [xc-definition-observer]="pluginService"
    ></xc-definition-proxy>
  }
  @if (allowAdd) {
    <xc-icon-button
      [disabled]="readonly"
      (click)="addEmitter.emit()"
      xc-icon-name="add"
      xc-icon-size="small"
    ></xc-icon-button>
  }
</header>
@if (!collapsed) {
  <ng-content />
}