<h2 xc-i18n class="navigationbar-title">header</h2>
<div class="area-content">
  <xc-form-autocomplete
    xc-form-field-compact
    xc-form-field-suffix="clear"
    xc-form-autocomplete-fulltextsearch
    [(xc-form-autocomplete-option)]="factoryService.runtimeContextDataWrapper.value"
    [xc-form-autocomplete-options]="factoryService.runtimeContextDataWrapper.values"
    (xc-form-autocomplete-optionsClosed)="!factoryService.runtimeContextDataWrapper.value && factoryService.resetToActiveWorkspace()"
  ></xc-form-autocomplete>
  <xc-form-input
    xc-i18n
    #input
    placeholder="input-search"
    xc-form-field-compact
    xc-form-field-suffix="clear"
    (valueChange)="search()"
    (valueKeydown)="$event.key === 'Enter' && search()"
  ></xc-form-input>
  <div class="filter-options">
    @for (filterItem of filterItems; let i = $index; track i) {
      <xc-checkbox
        xc-i18n
        class="filter"
        [label]="filterItem.label"
        [(checked)]="filterItem.checked"
        (checkedChange)="search()"
      ></xc-checkbox>
    }
  </div>
  <div class="factory-objects zeta-scrollbar">
    @if (input.value && !debounce && !xmomList.pending && !xmomList.xmomItems.length) {
      <label>{{'no-entries' | xcI18n}}</label>
    }
    <xfm-mod-nav-xmomlist xc-i18n-context='xfm-mod-nav-xmomlist' show-fqn></xfm-mod-nav-xmomlist>
  </div>
</div>