<div class="area-side-title">
    <h2 class="area-side-label" xc-i18n>header-compensation</h2>
</div>
<content-area *ngIf="compensation.contentArea"
    [contentArea]="compensation.contentArea"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)"
></content-area>
<xc-button
    *ngIf="!compensation.overriddenDefaultCompensation"
    (click)="overrideCompensation(true)"
    class="narrow-button override"
    xc-i18n
>button-override-internal-compensation</xc-button>
<xc-button
    *ngIf="compensation.overriddenDefaultCompensation"
    (click)="overrideCompensation(false)"
    class="narrow-button remove-override"
    xc-tooltip="tooltip-delete-compensation"
    xc-i18n
>button-delete-overridden-compensation</xc-button>