@if (query.labelArea) {
  <label-area
    [labelArea]="query.labelArea"
    [documentModel]="documentModel"
    [menuItems]="menuItems"
    [menuTemplateRef]="menuTemplateRef"
    (triggerAction)="performAction($event)"
    >
    <xc-icon icon xc-icon-name="tb-database" xc-icon-style="modeller" xc-icon-size="large" (dblclick)="toggleCollapsed()" />
  </label-area>
}
@if (documentationArea) {
  <documentation-area [documentationArea]="documentationArea"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)"
   />
}
@if (query.filterArea) {
  <filter-criterion-area [formulaArea]="query.filterArea"
    [documentModel]="documentModel"
    areaLabel="header-filter-criteria"
    (triggerAction)="performAction($event)"
   />
}
@if (query.selectionMaskArea) {
  <selection-mask-criterion-area [formulaArea]="query.selectionMaskArea"
    [documentModel]="documentModel"
    areaLabel="header-selection-masks"
    (triggerAction)="performAction($event)"
   />
}
@if (query.sortingArea) {
  <sorting-criterion-area [formulaArea]="query.sortingArea"
    [documentModel]="documentModel"
    areaLabel="header-sortings"
    (triggerAction)="performAction($event)"
   />
}
<div class="config-area">
  <xc-form-input xc-i18n label="label-limit-results" [(value)]="limitDataWrapper.value" (valueKeydown)="keydown($event)" (blur)="changedConfig()" xc-form-field-compact xc-form-validator-number></xc-form-input>
  <xc-checkbox xc-i18n label="label-query-history" [(checked)]="historyDataWrapper.value" color="color-black"></xc-checkbox>
</div>
@if (query.exceptionHandlingArea) {
  <exception-handling-area [exceptionHandlingArea]="query.exceptionHandlingArea"
    [documentModel]="documentModel"
    [inline]="true"
    (triggerAction)="performAction($event)"
   />
}
@if (query.outputArea) {
  <variable-area-service [variableArea]="query.outputArea"
    [documentModel]="documentModel"
    xc-variable-area-kind="output-area"
    (triggerAction)="performAction($event)"
   />
}

<ng-template #menuTemplateRef>
  <xc-icon-button *xc-menu-service="showMenu; let menuService"
    [xc-menu-trigger]="menuService.component"
    (xc-menu-trigger)="menuService.set(menuItems, {withArrow: true, xNexttoTrigger: true, xOffset: 8})"
    xc-icon-style="modeller"
    xc-icon-name="misc-contextmenu"
    xc-icon-size="small"
    color="color-white"
    class="menu-button"
   />
</ng-template>