<label-area *ngIf="query.labelArea"
    [labelArea]="query.labelArea"
    [documentModel]="documentModel"
    [menuItems]="menuItems"
    [menuTemplateRef]="menuTemplateRef"
    (triggerAction)="performAction($event)"
>
    <xc-icon icon xc-icon-name="tb-database" xc-icon-style="modeller" xc-icon-size="large" (dblclick)="toggleCollapsed()"></xc-icon>
</label-area>
<documentation-area *ngIf="documentationArea"
    [documentationArea]="documentationArea"
    [documentModel]="documentModel"
    (triggerAction)="performAction($event)"
></documentation-area>
<filter-criterion-area *ngIf="query.filterArea"
    [formulaArea]="query.filterArea"
    [documentModel]="documentModel"
    areaLabel="header-filter-criteria"
    (triggerAction)="performAction($event)"
></filter-criterion-area>
<selection-mask-criterion-area *ngIf="query.selectionMaskArea"
    [formulaArea]="query.selectionMaskArea"
    [documentModel]="documentModel"
    areaLabel="header-selection-masks"
    (triggerAction)="performAction($event)"
></selection-mask-criterion-area>
<sorting-criterion-area *ngIf="query.sortingArea"
    [formulaArea]="query.sortingArea"
    [documentModel]="documentModel"
    areaLabel="header-sortings"
    (triggerAction)="performAction($event)"
></sorting-criterion-area>
<div class="config-area">
    <xc-form-input xc-i18n label="label-limit-results" [(value)]="limitDataWrapper.value" (valueKeydown)="keydown($event)" (blur)="changedConfig()" xc-form-field-compact xc-form-validator-number></xc-form-input>
    <xc-checkbox xc-i18n label="label-query-history" [(checked)]="historyDataWrapper.value" color="invert"></xc-checkbox>
</div>
<exception-handling-area *ngIf="query.exceptionHandlingArea"
    [exceptionHandlingArea]="query.exceptionHandlingArea"
    [documentModel]="documentModel"
    [inline]="true"
    (triggerAction)="performAction($event)"
></exception-handling-area>
<variable-area-service *ngIf="query.outputArea"
    [variableArea]="query.outputArea"
    [documentModel]="documentModel"
    xc-variable-area-kind="output-area"
    (triggerAction)="performAction($event)"
></variable-area-service>

<ng-template #menuTemplateRef>
    <xc-icon-button
        *xc-menu-service="showMenu; let menuService"
        [xc-menu-trigger]="menuService.component"
        (xc-menu-trigger)="menuService.set(menuItems, {withArrow: true, xNexttoTrigger: true, xOffset: 8})"
        xc-icon-style="modeller"
        xc-icon-name="misc-contextmenu"
        xc-icon-size="small"
        class="menu-button"
    ></xc-icon-button>
</ng-template>